body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #87CEEB;
    margin: 2rem;
    color: white;
    transition: 2s ease-in-out;
}
nav {
    display: flex;
    justify-content: space-between;
}
h1 {
    padding: 1rem;
    color: white;
    font-size: 1.8rem;
}
span {
    color: rgb(127, 12, 66);
    font-size: 2rem;
}
section {
    margin: 1rem;
}
i {
    cursor: pointer;
}
.popup {
    width: 24rem;
    height: 12rem;
    background-color: white;
    text-align: center;
    border-radius: 2rem;
    position: absolute;
    top: 16rem;
    right: 40%;
}
input {
    padding: 0.8rem;
    width: 80%;
    border-radius: 1rem;
    text-align: center;
    margin: 1rem;
}
.addClose {
    display: flex;
    justify-content: center;
}
#addData, .closeTab, #addInnerData, .closeInnerTab  {
    padding: 0.4rem;
    width: 6rem;
    margin: 4px;
    border-radius: 1rem;
    background-color: rgb(101, 11, 77);
    color: white;
}
.card {
    width: 20%;
    height: 20rem;
    background-color:plum;
    color: black;
    text-align: center;
    position: relative;
    margin: 1rem;
}
.card:hover {
    box-shadow: 1rem 1rem 1rem rgb(102, 38, 38);
    transform: translateY(-12px);
}
.cardHeader {
    font-size: 1.6rem;
    margin: 0.7rem;
    padding: 0.4rem;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
strong {
    color: black;
}
#cardAdd {
    width: 2rem;
    margin: 0.4rem;
    position: absolute;
    bottom: 0.4rem;
    right: 3rem;

}
#cardRemove {
    width:2rem;
    margin: 0.4rem;
    position: absolute;
    bottom: 0.4rem;
    right: 0.4rem;
}
#line {
    text-decoration: line-through;
}
.innerD:hover {
    cursor: pointer;

}
#curser {
    cursor: pointer;
}
#curser:active {
    color: #1e4ebc;
}

@media only screen and (max-width:500px)  {
    .popup {
        width: 17rem;
        height: 12rem;
        position: absolute;
        top: 16rem;
        right: 15%;
    }          
    .card {
        width: 100%;
        margin: 0rem;
        margin-bottom: 1rem;
        
    }
    #none {
        display: none;
    } 
}